.map_statusbar {
 height: 100px;
 top: 43px;
 left: 0;
 width: 100%;
 background: #2FC1F3;
 position: fixed;
 transition-property: opacity;
 transition-duration: .2s;
 transition-timing-function: ease-in-out;
 opacity: 0.7;
 z-index: 1000;
 display: none;
}
.map_statusbar div {
 color: white;
 font-size: 30px;
 font-weight: 200;
 text-transform: uppercase;
 padding: 30px;
 position: absolute;
 width: 100%;
 text-align: center;
}